<launch>
<!-- Launch file for Livox AVIA LiDAR -->

  <arg name="rviz" default="true" />
  <rosparam command="load" file="$(find iftd_detector)/config/config_nclt.yaml" />
  <node 
		pkg="iftd_detector" 
		type="place_recognition_nclt" 
		name="place_recognition_nclt" 
		output="screen" 
	/>
  <param name="lidar_path" type="string" value = "/home/lang/docker_20.04_data/nclt/2012-05-26/velodyne_bin/"/>
  <param name="pose_path" type="string" value = "/home/lang/docker_20.04_data/nclt/fast-lio-pose/2012-05-26.txt"/>


  <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find iftd_detector)/rviz_cfg/demo.rviz" />
  </group>

</launch>
